speechrecognition
pyaudio; python_version < "3.14"
sounddevice
numpy
edge-tts
pygame; python_version < "3.14"
pyttsx3
openai
python-dotenv
nltk
colorama
psutil
spotipy
wikipedia
requests
python-pptx
mtranslate
customtkinter
google-genai
